[client]
port    = 3306
default-character-set = utf8mb4
socket  = /data/mysql/mysql.sock

[mysqld]
user = mysql
port = 3306
basedir = /usr/local/mysql
datadir = /data/mysql/data
tmpdir = /data/mysql/data
character-set-server = utf8mb4
pid_file = /data/mysql/mysqld.pid
socket = /data/mysql/mysql.sock
server-id = 1
explicit_defaults_for_timestamp=1

innodb_large_prefix = 1
open_files_limit=10240
back_log = 300
max_connections = 1024
max_connect_errors = 1000
table_open_cache = 1024
table_definition_cache=1024
innodb_open_files = 1024
external-locking = FALSE
interactive_timeout = 1200
wait_timeout = 1200
table_open_cache_instances = 16
max_heap_table_size = 64M
tmp_table_size = 64M
read_rnd_buffer_size = 16M
sort_buffer_size = 2M
join_buffer_size = 2M
thread_cache_size = 64
transaction_isolation = REPEATABLE-READ
log_bin=/data/logs/mysql/mysql-bin
log-error=/data/logs/mysql/error.log
# 以下2个参数1,1安全最好0，1数据安全高但允许备库落后或无复制，0,0适合日志业务
#默认0改成1性能会比0差5倍，但是数据安全性更高
sync_binlog = 1   
#默认1改成2最多只会丢1秒的事务但速度会快很多
innodb_flush_log_at_trx_commit = 2

log_timestamps = SYSTEM
binlog_cache_size = 4M
max_binlog_cache_size = 1G
max_binlog_size = 1G
expire_logs_days = 7
binlog_format = Row
log_error = /data/logs/mysql/error.log
slow-query-log = 1
slow_query_log_file = /data/logs/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1
max_allowed_packet = 32M
#性能使用监控相关，对性能有一定影响
performance_schema = 1
performance_schema_instrument = '%=on'

#主从相关参数
log-bin-trust-function-creators = 1
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_recovery = 1
gtid_mode = on
enforce_gtid_consistency = on
log_slave_updates = on
relay_log=/data/logs/mysql/myrelaylog
relay_log_info_file = /data/logs/mysql/relay-log.info

#innodb
#缓存池的内存大小如果是独立数据库服务器的话按实际80%内存来,如果不是就50%
innodb_buffer_pool_size = {{mem_half}}G
innodb_open_files = 10240
innodb_file_per_table=1
innodb_data_file_path = ibdata1:512M:autoextend  
innodb_print_all_deadlocks = 1
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_log_files_in_group = 3
innodb_thread_concurrency = 8
innodb_max_dirty_pages_pct = 50
innodb_lock_wait_timeout = 120
innodb_file_per_table = on
innodb_purge_threads = 2

# 以下2个参数根据2核CPU核心数修改
innodb_write_io_threads = {{num_cpus}}  
innodb_read_io_threads = {{num_cpus}}

# 根据服务器IOPS能力适当调整
# 配一块普通SSD硬盘，可以调整到 10000 - 20000
# 5.7默认200-2000
innodb_io_capacity = 200
innodb_io_capacity_max = 2000

#  有raid需要设置为如下，没有就默认
#innodb_flush_method=O_DIRECT

#MyISAM
key_buffer_size = 32M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

[mysqldump]
quick
max_allowed_packet = 32M

# myisam引擎的check使用没需要不需要加
#[myisamchk]
#key_buffer_size = 512M
#sort_buffer_size = 512M
#read_buffer = 8M
#write_buffer = 8M

# 使用mysqld_safe命令启动的参数
[mysqld_safe]
open-files-limit = 10240
log_error = /data/logs/mysql/error.log
